### 1. Abrir archivos agrupados y unirlos en un solo archivo parquet:

In [25]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

# Cargar los archivos parquet
uber_lyft_df = pq.read_table('../DataClean/UberLyft_Agrupado.parquet').to_pandas()
yellow_df = pq.read_table('../DataClean/Yellow_Agrupado.parquet').to_pandas()
green_df = pq.read_table('../DataClean/Green_Agrupado.parquet').to_pandas()

# Unir los dataframes
servicios_agrupados_df = pd.concat([uber_lyft_df, yellow_df, green_df])

In [26]:
servicios_agrupados_df

,service_type,year,month,day,day_of_week,hour,PULocationID,DOLocationID,trip_miles,time_out,travel_time,fare_surcharges,base_fare,service_number
0,UberLyft,2023,12,1,Friday,0,3,32,1.980,3,8,0.26,9.626168,1
1,UberLyft,2023,12,1,Friday,0,3,42,9.100,6,18,0.66,24.311766,1
2,UberLyft,2023,12,1,Friday,0,3,47,6.351,7,24,0.80,30.462986,2
3,UberLyft,2023,12,1,Friday,0,3,50,14.032,2,39,4.39,37.228401,1
4,UberLyft,2023,12,1,Friday,0,3,51,3.703,11,11,0.57,21.534882,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43637,Green,2023,12,31,Sunday,23,256,255,1.010,0,8,1.50,10.100000,1
43638,Green,2023,12,31,Sunday,23,260,7,2.000,0,10,1.50,12.200000,1
43639,Green,2023,12,31,Sunday,23,260,82,0.730,0,6,1.50,8.700000,1
43640,Green,2023,12,31,Sunday,23,260,157,3.640,0,15,1.50,19.900000,1
43641,Green,2023,12,31,Sunday,23,260,179,2.020,0,10,1.50,12.900000,1

### 2. Disminuir tamaÃ±o de formato:

In [27]:
columnas_enteras = ['month', 'day', 'hour', 'PULocationID', 'DOLocationID', 'time_out', 'travel_time', 'service_number']
servicios_agrupados_df['year'] = servicios_agrupados_df['year'].astype('int16')

servicios_agrupados_df[columnas_enteras].astype('int8')

# Convertir las columnas float a tipo float32
columnas_float = ['trip_miles', 'fare_surcharges', 'base_fare']
servicios_agrupados_df[columnas_float] = servicios_agrupados_df[columnas_float].astype('float32')

### 3. Guardar archivo:

In [28]:
# Guardar el DataFrame combinado en un archivo Parquet comprimido
pq.write_table(pa.Table.from_pandas(servicios_agrupados_df), '../DataClean/Servicios_Agrupados.parquet', compression='gzip')

print("El archivo Parquet comprimido se ha guardado exitosamente.")

El archivo Parquet comprimido se ha guardado exitosamente.

In [29]:
servicios_agrupados_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8095587 entries, 0 to 43641
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   service_type     object
 1   year             int16
 2   month            int32
 3   day              int32
 4   day_of_week      object
 5   hour             int64
 6   PULocationID     int32
 7   DOLocationID     int32
 8   trip_miles       float32
 9   time_out         int32
 10  travel_time      int32
 11  fare_surcharges  float32
 12  base_fare        float32
 13  service_number   int64
dtypes: float32(3), int16(1), int32(6), int64(2), object(2)
memory usage: 602.2+ MB

In [30]:
servicios_agrupados_df.head(-5)

,service_type,year,month,day,day_of_week,hour,PULocationID,DOLocationID,trip_miles,time_out,travel_time,fare_surcharges,base_fare,service_number
0,UberLyft,2023,12,1,Friday,0,3,32,1.980,3,8,0.26,9.626168,1
1,UberLyft,2023,12,1,Friday,0,3,42,9.100,6,18,0.66,24.311766,1
2,UberLyft,2023,12,1,Friday,0,3,47,6.351,7,24,0.80,30.462986,2
3,UberLyft,2023,12,1,Friday,0,3,50,14.032,2,39,4.39,37.228401,1
4,UberLyft,2023,12,1,Friday,0,3,51,3.703,11,11,0.57,21.534882,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43632,Green,2023,12,31,Sunday,23,168,18,4.470,0,15,1.50,22.000000,1
43633,Green,2023,12,31,Sunday,23,179,179,0.940,0,8,1.50,10.100000,1
43634,Green,2023,12,31,Sunday,23,181,25,1.110,0,8,1.50,10.800000,1
43635,Green,2023,12,31,Sunday,23,223,223,1.150,0,6,1.50,8.700000,1
43636,Green,2023,12,31,Sunday,23,226,196,3.180,0,13,1.50,18.500000,1

In [32]:
servicios_agrupados_df['service_type'].unique()

array(['UberLyft', 'Yellow', 'Green'], dtype=object)